<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nosotros Hello IT</title>
    <link rel="stylesheet" href="../styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
</head>
<body class="bodyAbout">
    <nav class="navegacion">
        <a id="logoname" href="../index.html"> Hello IT</a>
        <ul>
            <li><a href="../index.html"> Inicio</a></li>
            <li><a href="">Servicios</a>
                <ul>
                <li> <a href="./software.html"> Software </a></li>
                </ul>
            </li>
            <li> <a href="./clientes.html"> Clientes</a></li>
            <li> <a href="./contacto.html"> Contacto</a></li>
            </ul>
    </nav>
    <section class="nosotros">
            <h1 class="tituloAbout" >HELLO IT</h1>
            <p>Desde 2010 Hello IT se ha caracterizado por ser una empresa líder en el sector de servicios tecnológicos. 
            Ampliando su cobertura en América Latina, con presencia en cuatro países.   
            Nuestra experiencia y calidad se sustentan en la constante actualización de 
            nuestro personal que incluye: Arquitectos de Solución, Líderes de Proyecto, 
            Asesores y Técnicos especializados en diversas áreas de la tecnología, 
            todos con el dominio de la más completa gama de niveles de servicio.</p>   
    </section>
    <footer>
        <a id="copy"> © Copyright 2021 | HELLO IT México | All Rights Reserved</a>
    </footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>    
</body>
</html>